<?xml version="1.0" ?>
<model>
    <name>Workshop_Office</name>
    <version>1.0</version>
    <sdf version="1.6">model.sdf</sdf>
    <author>
        <name>Tamzin Walker</name>
        <email>tamzinwalker@gmail.com</email>
    </author>
    <description>Workshop office space AUST</description>
</model>
